* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #191814;
  color: #FFFFFF;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  overflow-x: hidden;
}

ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.active {
  color: #997B2E;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  line-height: 109%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: 0.2px;
  font-family: 'Raleway', sans-serif;
}

a {
  font-size: 1.8rem;
  line-height: 120%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 6rem;
  padding-top: 2rem;
  min-height: 10vh;
  z-index: 1;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin: 0 4rem;
  text-transform: uppercase;
}

.content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  text-align: start;
  color: #997B2E;
}

.content h2 {
  font-size: 3.2rem;
}

.name {
  font-size: 18px;
  line-height: 50%;
  margin-bottom: 2rem;
  font-weight: 700;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  padding: 0px 0rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.hero .picture-main {
  max-width: 40%;
  width: auto;
  height: 40vh;
}

.hero .main-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.hero .main-section h1 {
  font-weight: 400;
  font-size: 8rem;
  letter-spacing: 0.1rem;
  line-height: 109%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.hero .emphasis {
  line-height: 109%;
  font-weight: 700;
}

.consultation-button {
  background-color: #997B2E;
  border: none;
  outline: none;
  font-size: 24px;
  color: #FFFFFF;
  width: 100%;
  font-weight: 700;
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.consultation-button:hover {
  background-color: #c29c3c;
}

.home-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  background-color: #FFFFFF;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 3rem;
  width: 90%;
  color: #3B3B3B;
}

.home-intro h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 4.2rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
}

.home-intro h1:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-width: 4rem;
  height: clamp(0.25rem, 0.5vh, 0.75rem);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2.4rem;
  background-color: #997B2E;
  content: "";
}

.home-intro p {
  padding-left: 5%;
  padding-right: 5%;
  color: #7a7a7a;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}

.logos a {
  width: 15%;
}

.home-practice-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  background-color: #eff2fa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  width: 90%;
  max-width: 90vw;
}

.home-practice-areas h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 42px;
  padding-left: 5%;
  text-align: start;
  margin-top: 2rem;
}

.home-practice-areas p {
  padding-left: 5%;
  padding-right: 5%;
  color: #3B3B3B;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
}

.areas {
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
  gap: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.area {
  color: #997B2E;
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  height: auto;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
}

.area:hover {
  color: #c29c3c;
}

.arrow {
  max-width: 3.2rem;
  max-height: 2.4rem;
}

.free-consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  background-color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;
  width: 90%;
  max-width: 90vw;
}

.free-consultation h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 42px;
  padding-left: 5%;
  text-align: start;
  margin-top: 2rem;
}

form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}

.text-input, textarea {
  border: 1px solid #7a7a7a;
  outline: none;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 1px 1px #3B3B3B);
          filter: drop-shadow(0px 1px 1px #3B3B3B);
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  resize: none;
  width: 100rem;
}

.submit-button {
  background-color: #997B2E;
  border: none;
  outline: none;
  font-size: 24px;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 15px;
  border-radius: 6px;
  width: 120px;
  height: 60px;
}

.submit-button:hover {
  background-color: #c29c3c;
}

.client-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  background-color: #eff2fa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;
  width: 90%;
  max-width: 90vw;
  min-height: 60rem;
}

.client-testimonials h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 42px;
  margin-top: 4rem;
}

.client-testimonials h1::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-width: 4rem;
  height: clamp(0.25rem, 0.5vh, 0.75rem);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2.4rem;
  background-color: #997B2E;
  content: "";
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
}

.left-arrow {
  font-size: 64px;
  color: #3B3B3B;
}

.left-arrow::before {
  content: url("../images/arrow-left.svg");
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.right-arrow {
  font-size: 64px;
  color: #3B3B3B;
}

.right-arrow::before {
  content: url("../images/arrow-right.svg");
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.quote {
  text-align: center;
  color: #3B3B3B;
  font-size: 24px;
  line-height: 129%;
  font-weight: 400;
  font-style: italic;
  padding-left: 5%;
  padding-right: 5%;
}

.quote::before {
  content: open-quote;
  font-family: Palanquin Dark,sans-serif;
}

.quote::after {
  content: close-quote;
  font-family: Palanquin Dark,sans-serif;
}

.attribution {
  font-size: 28px;
  line-height: 149%;
  color: #3B3B3B;
  font-weight: 700;
  margin-right: 15%;
}

.site-footer footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway,sans-serif;
  margin-bottom: 3rem;
  padding-top: 2rem;
  gap: 1rem;
}

.site-footer footer h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}

.site-footer footer .number {
  color: #997B2E;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 1rem;
}

.site-footer footer .number::before {
  content: url("../images/phone.svg");
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  padding-right: 1rem;
}

.copyright {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.privacy-link {
  font-size: 18px;
  color: #c29c3c;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .text-input, textarea {
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 1px 1px #3B3B3B);
            filter: drop-shadow(0px 1px 1px #3B3B3B);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    resize: none;
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .content h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: start;
    color: #997B2E;
  }
  .content h2 {
    font-size: 1.6rem;
  }
  nav li {
    margin: 0 1.6rem;
    text-transform: uppercase;
  }
  .hero {
    padding: 0px 0rem;
  }
  .areas {
    margin-left: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
    gap: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .area {
    color: #997B2E;
    font-weight: 700;
    font-size: 2.4rem;
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
  }
  .area:hover {
    color: #c29c3c;
  }
  .text-input, textarea {
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 1px 1px #3B3B3B);
            filter: drop-shadow(0px 1px 1px #3B3B3B);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    resize: none;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 2rem;
    padding-top: 2rem;
    min-height: 10vh;
    z-index: 1;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav a {
    font-size: 1.6rem;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin: 0 1.6rem;
    text-transform: uppercase;
  }
  .content {
    margin-left: 2rem;
  }
  .content h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: start;
    color: #997B2E;
  }
  .content h2 {
    font-size: 1.6rem;
  }
  .name {
    font-size: 18px;
    line-height: 50%;
    margin-bottom: 2rem;
    font-weight: 700;
  }
  .main-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    padding: 0px 0rem;
    margin-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .hero .picture-main {
    max-width: 40%;
    width: auto;
    height: 40vh;
  }
  .hero .main-section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  .hero .main-section h1 {
    font-weight: 400;
    font-size: 5.6rem;
    letter-spacing: 0.1rem;
    line-height: 109%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .hero .emphasis {
    line-height: 109%;
    font-weight: 700;
  }
  .consultation-button {
    background-color: #997B2E;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #FFFFFF;
    width: 100%;
    font-weight: 700;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
  .consultation-button:hover {
    background-color: #c29c3c;
  }
  .home-intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    background-color: #FFFFFF;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 3rem;
    width: 90%;
    color: #3B3B3B;
  }
  .home-intro h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    font-weight: 700;
    color: #3B3B3B;
    font-size: 2.4rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
  }
  .home-intro h1:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    min-width: 4rem;
    height: clamp(0.25rem, 0.5vh, 0.75rem);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 2.4rem;
    background-color: #997B2E;
    content: "";
  }
  .home-intro p {
    padding-left: 5%;
    padding-right: 5%;
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 400;
    line-height: 175%;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
  }
  .logos a {
    width: 24%;
  }
  .home-practice-areas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    background-color: #eff2fa;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    width: 90%;
    max-width: 90vw;
  }
  .home-practice-areas h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    font-weight: 700;
    color: #3B3B3B;
    font-size: 2.4rem;
    padding-left: 5%;
    text-align: start;
    margin-top: 2rem;
  }
  .home-practice-areas p {
    padding-left: 5%;
    padding-right: 5%;
    color: #3B3B3B;
    font-size: 20px;
    font-weight: 400;
    line-height: 175%;
  }
  .areas {
    margin-left: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
    gap: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .area {
    color: #997B2E;
    font-weight: 700;
    font-size: 1.6rem;
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
  }
  .area:hover {
    color: #c29c3c;
  }
  .arrow {
    max-width: 3.2rem;
    max-height: 2.4rem;
  }
  .free-consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    color: #3B3B3B;
    background-color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
    width: 90%;
  }
  .free-consultation h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    font-weight: 700;
    color: #3B3B3B;
    font-size: 2.4rem;
    padding-left: 5%;
    text-align: start;
    margin-top: 2rem;
  }
  form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 60rem;
  }
  .text-input, textarea {
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 1px 1px #3B3B3B);
            filter: drop-shadow(0px 1px 1px #3B3B3B);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    resize: none;
    width: auto;
  }
  .submit-button {
    background-color: #997B2E;
    border: none;
    outline: none;
    font-size: 24px;
    color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 700;
    padding: 15px;
    border-radius: 6px;
    width: 120px;
    height: 60px;
  }
  .submit-button:hover {
    background-color: #c29c3c;
  }
  .client-testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    color: #3B3B3B;
    background-color: #eff2fa;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
    width: 90%;
    max-width: 90vw;
    min-height: 60rem;
  }
  .client-testimonials h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    font-weight: 700;
    color: #3B3B3B;
    font-size: 2.4rem;
    margin-top: 4rem;
  }
  .client-testimonials h1::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    min-width: 4rem;
    height: clamp(0.25rem, 0.5vh, 0.75rem);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 2.4rem;
    background-color: #997B2E;
    content: "";
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 2rem;
  }
  .left-arrow {
    font-size: 40px;
    color: #3B3B3B;
  }
  .left-arrow::before {
    content: url("../images/arrow-left.svg");
    display: inline-block;
    width: 4rem;
    height: 4rem;
  }
  .right-arrow {
    font-size: 40px;
    color: #3B3B3B;
  }
  .right-arrow::before {
    content: url("../images/arrow-right.svg");
    display: inline-block;
    width: 4rem;
    height: 4rem;
  }
  .quote {
    text-align: center;
    color: #3B3B3B;
    font-size: 1.6rem;
    line-height: 129%;
    font-weight: 400;
    font-style: italic;
    padding-left: 5%;
    padding-right: 5%;
  }
  .quote::before {
    content: open-quote;
    font-family: Palanquin Dark,sans-serif;
  }
  .quote::after {
    content: close-quote;
    font-family: Palanquin Dark,sans-serif;
  }
  .attribution {
    font-size: 2.4rem;
    line-height: 149%;
    color: #3B3B3B;
    font-weight: 700;
    margin-right: 15%;
  }
  .site-footer footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Raleway,sans-serif;
    margin-bottom: 3rem;
    padding-top: 2rem;
    gap: 1rem;
  }
  .site-footer footer h1 {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .site-footer footer .number {
    color: #997B2E;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 1rem;
  }
  .site-footer footer .number::before {
    content: url("../images/phone.svg");
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    padding-right: 1rem;
  }
  .copyright {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .privacy-link {
    font-size: 1.4rem;
    color: #c29c3c;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0rem;
    padding-top: 2rem;
    min-height: 10vh;
    z-index: 1;
    position: relative;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin: 0 1rem;
    text-transform: uppercase;
  }
  .content h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: start;
    color: #997B2E;
  }
  .content h2 {
    font-size: 1.6rem;
  }
  .hero {
    padding: 0px 0rem;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .hero .picture-main {
    max-width: 100%;
    width: 40rem;
    height: 50vh;
    margin-top: 4rem;
  }
  .hero .main-section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .hero .main-section h1 {
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    line-height: 109%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .hero .emphasis {
    line-height: 109%;
    font-weight: 700;
  }
  .consultation-button {
    background-color: #997B2E;
    border: none;
    outline: none;
    font-size: 2.4rem;
    color: #FFFFFF;
    width: 100%;
    font-weight: 700;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
  .consultation-button:hover {
    background-color: #c29c3c;
  }
  .name {
    font-size: 18px;
    line-height: 50%;
    margin-bottom: 2rem;
    font-weight: 700;
  }
  .main-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .area {
    color: #997B2E;
    font-weight: 700;
    font-size: 1.6rem;
    width: 100%;
    height: auto;
    text-decoration: none;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
  }
  .area:hover {
    color: #c29c3c;
  }
}
/*# sourceMappingURL=styles2.css.map */